{
  "env": {
    "commonjs": true,
    "node": true,
    "mocha": true
  },
  "extends": ["prettier", "airbnb-base"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "off",
    "comma-dangle": "off",
    "arrow-parens": "off",
    "arrow-body-style": "off",
    "object-curly-newline": "off",
    "import/prefer-default-export": "off"
  }
}
