div
  h1 NodeJs Auth API
  div
    a(href="/login") Login
    br
    a(href="/logout") Logout
    br
    a(href="/users") Users List
  br
  p Authenticated: #{isAuth}
  pre Username: #{username}
  pre Access Token:
  pre #{accessToken}
  pre ID Token: 
  pre #{idToken}
